In [7]:
import pandas as pd
import numpy as np
import numpy.random as random
from datetime import datetime
import time
import os

from bokeh.plotting import figure
from bokeh.io import show, output_notebook, curdoc
from bokeh.models import LinearAxis, Range1d, BoxSelectTool
from bokeh.models.formatters import DatetimeTickFormatter, BasicTickFormatter
from bokeh.models import Legend
from bokeh.models.ranges import DataRange1d
from bokeh.plotting import figure, curdoc
from bokeh.driving import linear
from bokeh.palettes import Category20, Turbo256
from bokeh.layouts import column
from bokeh.models import Slider
from bokeh.models.widgets import CheckboxGroup
#from bokeh.io import show

In [8]:
import numpy as np
import pandas as pd
from bokeh.layouts import gridplot
from bokeh.plotting import figure, output_file, show
from bokeh.palettes import Spectral4
import time

time1 = time.time()
print("Importing")
LEU = pd.read_excel("Total_Core.xlsx", "LEU")
NU = pd.read_excel("Total_Core.xlsx", "NU")
Total = pd.read_excel("Total_Core.xlsx", "Total")
print("Imported, Importing took {:.1f} Seconds".format(time.time()-time1))

Importing
Imported, Importing took 240.0 Seconds

In [11]:
TOOLS = "pan,xwheel_zoom, ywheel_zoom,box_zoom,reset,save,box_select"
p = figure(plot_width=800, plot_height=800, sizing_mode='stretch_both',\
           tools = TOOLS, \
           y_range=DataRange1d(bounds = (0,20)), \
           x_range = DataRange1d(bounds = (-1, 1.2* Total["Unnamed: 0"].iloc[-1])))#, x_axis_type="datetime")
p.title.text = 'Click on legend entries to hide the corresponding lines'
print("Processing Data")
elements = ["mo99", "xe133", "i133","tc99"]
time2 = time.time()
for data, name in zip([LEU, NU, Total], ["LEU", "NU", "Total"]):
# for data, name, color in zip([Total], ["Total"], Spectral4):
    df = pd.DataFrame(data)
#     df.index = pd.to_datetime(df.index)
    for ele, color in zip(elements,Spectral4):
        p.line(df["Unnamed: 0"], df[ele], line_width=2, color=color, alpha=0.8, legend_label=name + " " + ele)


p.legend.location = "top_left"
p.legend.click_policy="hide"
p.xaxis.axis_label = 'Days'
p.yaxis.axis_label = 'Activity of Mo-99 (Ci)'
print("Preparing HTML file, Processing took {:.1f} seconds".format(time.time()-time2))
time3 = time.time()
output_file("Total_Core_Interactive_Plot.html", title="Total Core Interactive Plot")
print("HTML Prep took {:.1f} seconds".format(time.time()-time3))
print("Total time to run was {:.1f} seconds".format(time.time()-time1))
show(p)

Processing Data
Preparing HTML file, Processing took 0.2 seconds
HTML Prep took 0.0 seconds
Total time to run was 974.8 seconds

In [31]:
Total#[1:]

,Unnamed: 0,Total_Activity,mo99,tc99m,xe133,ce143,i133,i132,te132,xe135,...,kr100,kr78,kr79m,kr80,kr82,kr83,kr84,kr86,zr99,Time (days)
0,0.640,1799.329664,1.77965,0.845308,0.213414,3.14062,4.94416,0.89475,1.08776,5.16596,...,0.000002,0,3.160040e-15,0,0,0,0,0,11.1625,0.64
1,1.300,1881.825745,3.29845,2.163060,0.737594,5.48234,8.16939,1.87333,2.03918,9.70200,...,0.000002,0,3.160590e-15,0,0,0,0,0,11.1625,1.30
2,1.900,1924.301074,4.59210,3.388010,1.420020,7.18199,10.10820,2.72790,2.86823,11.70640,...,0.000002,0,3.161460e-15,0,0,0,0,0,11.1625,1.90
3,2.500,1951.432421,5.69404,4.448920,2.169360,8.41573,11.27370,3.47258,3.59068,12.45130,...,0.000002,0,3.162550e-15,0,0,0,0,0,11.1625,2.50
4,3.200,1971.077054,6.63261,5.355640,2.932770,9.31120,11.97370,4.12152,4.22023,12.70860,...,0.000002,0,3.163840e-15,0,0,0,0,0,11.1625,3.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1584,1827.615,265.634159,7.53640,7.116700,6.487200,7.39390,7.22630,5.27860,5.12320,6.95450,...,0.000000,0,0.000000e+00,0,0,0,0,0,0.0000,NaN
1585,1827.692,253.253773,7.39170,7.009400,6.493200,7.11300,6.79510,5.19240,5.03860,6.32060,...,0.000000,0,0.000000e+00,0,0,0,0,0,0.0000,NaN
1586,1827.769,242.384311,7.24970,6.898500,6.495000,6.84280,6.38970,5.10720,4.95550,5.72090,...,0.000000,0,0.000000e+00,0,0,0,0,0,0.0000,NaN
1587,1827.846,232.750091,7.11040,6.785100,6.492900,6.58280,6.00840,5.02320,4.87370,5.15950,...,0.000000,0,0.000000e+00,0,0,0,0,0,0.0000,NaN
1588,1827.923,224.140516,6.97380,6.670300,6.487100,6.33270,5.64990,4.94050,4.79330,4.63860,...,0.000000,0,0.000000e+00,0,0,0,0,0,0.0000,NaN